:root {
    /* colors */
    --color-dark900: #0f172a;
    --color-dark800: #1e293b;
    --color-light300: #cbd5e1;
    --color-light200: #e2e8f0;
    /* --color-accent600: #4f46e5;
    --color-accent500: #6366f1;
    --color-accent400: #818cf8; */
    /* --color-accent600: #059669;
    --color-accent500: #10b981;
    --color-accent400: #34d399; */
    --color-accent600: #16a34a;
    --color-accent500: #22c55e;
    --color-accent400: #4ade80;
    /* 74, 222, 128 */

    /* font sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    padding: 0;
}

.light-mode {
    --color-dark900: #f1f5f9;
    --color-dark800: #e2e8f0;
    --color-light300: #0f172a;
    --color-light200: #1e293b;
    --color-accent600: #4ade80;
    --color-accent500: #22c55e;
    --color-accent400: #16a34a;
}

html {
    scroll-behavior: smooth;
    /* scrollbar-color: var(--color-dark900) var(--color-dark800); */
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: var(--color-dark900);
    color: var(--color-light200);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
