/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
}

.section {
    min-height: 40rem;
}

.section__title__hr {
    border: none;
    height: 1px;
    background-color: var(--color-accent500);
}

.button-up {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--color-accent600);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}

.button-up:hover {
    background-color: var(--color-accent500);
}

.button-up__icon {
    width: 2rem;
    height: 2rem;
}