.footer {
    background-color: var(--color-dark800);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--color-light300);
    text-align: center;
    font-size: var(--size-xs);
}

/* md */
@media (min-width: 768px) {
    .footer {
        font-size: var(--size-base);
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */