.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.hero__title {
    font-size: var(--size-2xl);
    color: var(--color-accent600);
    transition: color 1.5s;
    font-weight: 700;
}

.hero__title-span1 {
    color: var(--color-light300);
    transition: color 1.5s;
}

.hero__title-span2 {
    color: var(--color-accent500);
    text-transform: uppercase;
    transition: color 1.5s;
}

.hero__title-span3 {
    color: var(--color-accent400);
    text-transform: uppercase;
    transition: color 1.5s;
}

.hero__description {
    font-size: var(--size-xs);
    width: 40ch;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    transition: color 1.5s;
    text-align: left;
}

.hero__description span {
    color: var(--color-accent400);
    font-weight: 600;
    transition: color 1.5s;
}

/* md */
@media (min-width: 768px) {
    .hero {
        gap: 1rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        align-items: unset;
    }

    .hero__title {
        font-size: var(--size-4xl);
    }

    .hero__description {
        font-size: var(--size-base);
        width: 60ch;
        text-align: unset;
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero {
        gap: 1rem;
        padding-top: 12rem;
        justify-content: unset;
        align-items: unset;
    }

    .hero__title {
        font-size: var(--size-6xl);
    }

    .hero__description {
        font-size: var(--size-xl);
    }
}