.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hero__title {
    font-size: var(--size-6xl);
    color: var(--color-accent600);
    /* letter-spacing: 0.05em; */
    overflow: hidden; 
    transition: color 1.5s;
}

.hero__title-span1 {
    color: var(--color-light300);
    transition: color 1.5s;
}

.hero__title-span2 {
    color: var(--color-accent500);
    text-transform: uppercase;
    transition: color 1.5s;
}

.hero__title-span3 {
    color: var(--color-accent400);
    text-transform: uppercase;
    transition: color 1.5s;
}

.hero__description {
    font-size: var(--size-xl);
    width: 60ch;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    transition: color 1.5s;
}

.hero__description span {
    color: var(--color-accent400);
    font-weight: 600;
    transition: color 1.5s;
}