.projects {
    background-color: var(--color-dark800);
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects__title {
    font-size: var(--size-4xl);
    font-weight: 500;
}

.projects__container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 2rem;
}

.projects__github {
    /* align-self: center; */
    font-weight: 500;
}

.projects__github a:hover {
    color: var(--color-accent400);
}

.projects__item { 
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.projects__item__img {
    width: 20rem;
    height: 20rem;
}

.projects__item__text {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects__item__title {
    font-size: var(--size-3xl);
}

.projects__item__description {
    width: 60ch;
    line-height: 1.5em;
    font-size: var(--size-xl);
}

.projects__item__icon {
    font-size: var(--size-6xl);
}
